
	   <details>

    <summary>Options and Defaults info </summary>


    <table>
        <tr>
            <th>Setting</th>
            <th>Default (Easy)</th>
            <th>Default (Advanced)</th>
            <th>Options</th>
            <th>cli</th>
        </tr>
        <tr>
            <td>Delimiter</td>
            <td>
                <code>
			test
                </code>
            </td>
            <td>
                <code>
			test
                </code>
            </td>
            <td>
                <ul>
                    <li>a</li>
                    <li>a</li>
                    <li>a</li>
                    <li>a</li>
                    <li>a</li>
                    <li>a</li>
                </ul>
            </td>
            <td>
                <code>
			a
                </code>
            </td>
        </tr>

        <tr>
            <td>Case</td>
            <td>
                <code>
                </code>
            </td>
            <td>
                <code>
                </code>
            </td>
            <td>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </td>
            <td>
                <code>
                </code>
            </td>
        </tr>

        <tr>
            <td>Words</td>
            <td>
                <code>
                </code>
            </td>
            <td>
                <code>
                </code>
            </td>
            <td>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </td>
            <td>
                <code>
                </code>
            </td>
        </tr>

        <tr>
            <td>Min Charachters</td>
            <td>
                <code>
                </code>
            </td>
            <td>
                <code>
                </code>
            </td>
            <td>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </td>
            <td>
                <code>
                </code>
            </td>
        </tr>

        <tr>
            <td>Max Charachters</td>
            <td>
                <code>
                </code>
            </td>
            <td>
                <code>
                </code>
            </td>
            <td>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </td>
            <td>
                <code>
                </code>
            </td>
        </tr>

        <tr>
            <td>Language</td>
            <td>
                <code>
                </code>
            </td>
            <td>
                <code>
                </code>
            </td>
            <td>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </td>
            <td>
                <code>
                </code>
            </td>
        </tr>

        <tr>
            <td>Copy</td>
            <td>
                <code>
                </code>
            </td>
            <td>
                <code>
                </code>
            </td>
            <td>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </td>
            <td>
                <code>
                </code>
            </td>
        </tr>

        <tr>
            <td>Refresh</td>
            <td>
                <code>
                </code>
            </td>
            <td>
                <code>
                </code>
            </td>
            <td>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </td>
            <td>
                <code>
                </code>
            </td>
        </tr>
        </table>
</details>

